*{
    box-sizing: border-box;
}
.bigbox{
    background-color: blanchedalmond;
    display: flex;
    flex-shrink: 0;
    flex: 1;
    flex-direction: row;
    height: 300px;
    align-items: flex-start;
    justify-content: space-between;
    
}
.box1{
    background-color: green;
    height: 100px;
    width: 100px;
    margin: 10px;
    padding: 10px;
    flex: 1;
   
    
    
}
.box2{
    background-color: blue;
    height: 100px;
    width: 100px;
    margin: 10px;
    padding: 10px;
    flex: 1;
    padding-top: 0;
   
    

}
.box3{
    background-color: red;
    height: 100px;
    width: 100px;
    margin: 10px;
    padding: 10px;
    padding-top: 0;
    flex: 1;
  
    
    
}
